* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  list-style: none;
  text-decoration: none;
}
:root {
  --bg: #000;
  --text: #fff;
  --primary: #360606;
}
body {
  background: var(--bg);
}
.container {
  width: 100%;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
  color: var(--text);
  background: var(--bg);
  padding: 10px 10px;
  padding-top: 20px;
}
/* NAV */
.container nav {
  width: 100%;
  height: auto;
  padding: 10px 5px;
  position: fixed;
  bottom: 0%;
  left: 0%;
}
.container nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container nav ul li a {
  padding: 5px 10px;
  font-size: 17px;
  color: var(--bg);
  background: var(--text);
  border-radius: 5px;
}

.container nav ul li a.active {
  color: var(--text);
  background: var(--primary);
  border-radius: 5px;
}
.container header {
  width: 100%;
  height: auto;
}
.container header h1 {
  font-size: 4em;
  text-align: center;
}
.container header p {
  font-size: 1em;
}

.container main {
  width: 100%;
  height: auto;
  padding: 10px 5px;
  color: var(--text);
}
.container main ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 50px;
  margin-top: 10px;
}

.container main ul li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding: 10px 10px;
  border-radius: 7px;
  gap: 7px;
  color: var(--bg);
  background: var(--text);
}
.container main ul li h4 {
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 5px;
}
.container main ul li .btn {
  font-size: 11px;
  padding: 0.5em 1em;
  color: var(--text);
  background: var(--bg);
  border-radius: 10px;
  margin-left: 0.5em;
}
.container main ul li .btn.check {
  color: var(--text);
  background: var(--primary);
}
